.page-footer {
    padding-top: 0px !important;
    margin-top: 20px;
    background-color: #3c8c6f !important;
}

.page-footer>h3 {
    color: #ffcf56 !important;
}

.page-footer>.container-fluid {
    margin-left: 20px;
    margin-right: 20px;
}